body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    background-color: white;
}

* {
    font-family: 'Trebuchet MS', 'Monaco', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

.header, .banner, .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 16px;
    padding-left: 50px;
    padding-right: 50px;
    color: #f9faf8;
    font-size: 24px;
}

.banner {
    justify-content: space-around;
    flex: 1;
}

.footer {
    justify-content: center;
    font-size: 16px;
}

.hero-block {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 30%;
    gap: 8px;
}

.hero-head {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-content {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    background-color: gray;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    align-self: stretch;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
    font-size: 16px;
}

li {
    margin: 10px;
}

a {
    text-decoration-line: none;
    color: #f9faf8;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    font-size: 16px;
    font-weight: 100;
    flex: 0;
    margin: 32px;
    padding-bottom: 80px;
    text-align: center;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 4px solid #3882f6;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.main-quote {
    font-size: 36px;
    font-weight: normal;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0;
    width: 60%;
}

.author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    align-self: flex-end;
    padding: 12px;
    padding-top: 0;
    margin-top: 0;
}