body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
    font-family: 'Trebuchet MS', 'Monaco', sans-serif;
}

img {
    width: 100px;
    height: 100px;
}

.header, .banner, .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.footer {
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
}

li {
    margin: 10px;
}

a {
    text-decoration-line: none;
    color: #f9faf8;
}